*{
    margin: 0px;
    padding: 0px;
}

.bottom{
    background-color:wheat;
    height: 100vh;
    color: black;
    font-family:monospace;
}

h2{
    text-align: center;
    color: white;
}

.calculator{
    position: absolute;
    background-color: black;
    top: 25%;
    right: 50%;
    border-radius: 10px;
    padding: 15px;
    transform: translate(50%);
}

.button{
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 1px solid #5e2129 ;
    cursor: pointer;
    background-color:black;
    margin: 2px;
    color: white;
}

.equal{
    height: 106px;
}

.zero{
    width: 108px;
}

#result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    width: 200px;
    height: 30px;
    border: #5e2129;
    margin: 5px;
    padding-left: 16px;
    border: 2px solid #5e2129;
    font-size: 25px;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;

}

.button:hover{
    background-color: white;
    color: black;
}

a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: black;
    padding-top: 20px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6d5a5a;
    color: white;
    width: 100%;
    height: 7vw;
}

.sub-icons{
    display: inline;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    /* border: 2px solid #5e2129; */
}

.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    margin-bottom:  40px;
}

.icons:hover{
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

img{
    cursor: pointer;
    width: 32px;
}

/* #result-before{
    align-items: flex-end;
    color: black;
    font-size: 10px;
    width: 200px;
    background-color: white;
    margin-left: 2px;
} */

/* Responsivo */

@media screen and (min-width: 319px) and (max-width: 1200px) {

    .footer{
    height: 20vw
    }
}

